@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400&display=swap');
:root {
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    color: var(--Dark-Violet);
    margin: 0;
}

h1,h2,h3 {
    font-family: 'DM Serif Display', sans-serif ;
}

h1 {
    font-size: 4em;
    font-weight: 300;
    line-height: 1;
    position: relative;
    margin: 0;
    padding-top: 52px;
}

h1::before {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 150px;
}
.btn {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-reverse {
    border-color: var(--Dark-Violet);
    color: var(--Dark-Violet);
}

.container {
    padding: 20px;
    max-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
}

.align-start {
    align-items: flex-start;
}

/* Nav STyling */

nav {

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color: var(--Dark-Grayish-Violet);
    text-transform: uppercase;
    text-decoration: none;
}
/* headerSTyling */

header {
    color: white;
    background-color: var(--Dark-Violet);
    padding: 50px 0;
    position: relative;
    margin-bottom: 250px;
}


header::after {
    content: '';
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

header::before {
    content: '';
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: -60%;
    right: 0;
    height: 100%;
    width: 100%;
}

.header-image {
    margin-bottom: -250px;
}
/* section STyling */

section {

}

/* footer STyling */

footer {

}